/*!* popup *!*/

.pc {
  display: block;
}
.mo {
  display: none !important;
}

#container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.text-center {
  text-align: center;
}

/*content*/
.content {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.page1{
  background: url("../img/pg1/pg1.png");
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  padding: 30% 0;
  margin: auto;
}
.page1 .logo1 {
  position: absolute;
  top: 1%;
  left: 2%;
  max-width: 870px;
  width: 10%;
}
.title1 {
  position: absolute;
  left: 25%;
  top: 12%;
  max-width: 870px;
  width: 50%;
}

.tit1 {
  position: absolute;
  top: 25%;
  left: 30%;
  max-width: 870px;
  width: 40%;
}
.num1 {
  position: absolute;
  max-width: 870px;
  z-index: 2;
  top: 23%;
  left: 37%;
  width: 2.5%;
}
.num2 {
  position: absolute;
  max-width: 870px;
  z-index: 2;
  top: 23%;
  left: 45%;
  width: 2.5%;
}
.num3 {
  position: absolute;
  max-width: 870px;
  z-index: 2;
  top: 23%;
  left: 55%;
  width: 2.5%;
}
.delivery{
  position: absolute;
  max-width: 870px;
  top: 40%;
  left: 40%;
  width: 22%;
}
.hall{
  position: absolute;
  max-width: 870px;
  top: 40%;
  left: 15%;
  width: 22%;
}
.packing{
  position: absolute;
  max-width: 870px;
  top: 40%;
  left: 65%;
  width: 22%;
}

@media (max-width: 480px) {
  .logo1{
    width: 15%;
    top: 1%;
  }
  .title1{
    width: 80%;
    top: 10%;
    left: 10%;
  }
  .tit1{
    width: 70%;
    left: 15%;
    top: 18%;
  }
  .delivery, .hall, .packing{
    display: none;
  }
  .delivery_mobile{
    position: absolute;
    left: 20%;
    width: 60%;
    top: 50%;
  }
  .hall_mobile{
    position: absolute;
    width: 60%;
    left: 20%;
    top: 30%;
  }
  .packing_mobile{
    position: absolute;
    width: 60%;
    left: 20%;
    top: 70%;
  }
  .num1{
    left: 27%;
    top: 17%;
    width: 4%;
  }
  .num2{
    left: 42%;
    top: 17%;
    width: 4%;
  }
  .num3{
    left: 60%;
    top: 17%;
    width: 4%;
  }
}
.page2{
  background: url("../img/pg2/pg2.png");
  background-size: cover !important;
  background-position: center center !important;
  text-align: center;
  padding: 26% 0;
  position: relative;
  margin: auto;
  z-index: -2;
}

.logo2 {
  position: absolute;
  top: 5%;
  left: 2%;
  max-width: 870px;
  width: 8%;
}

.focus{
  position: absolute;
  top: 18%;
  left: 32%;
  max-width: 870px;
  width: 35%;
}
.person{
  position: absolute;
  left: 40%;
  bottom: 0;
  max-width: 870px;
  width: 23%;
}
.hug{
  position: absolute;
  top: 40%;
  right: 15%;
  max-width: 870px;
  width: 25%;
}
.hug2{
  position: absolute;
  top: 60%;
  right: 15%;
  max-width: 870px;
  width: 20%;
}
.hug3{
  position: absolute;
  top: 60%;
  left: 20%;
  max-width: 870px;
  width: 20%;
}
.hug4{
  position: absolute;
  top: 40%;
  left: 15%;
  max-width: 870px;
  width: 25%;
}
.han{
  position: absolute;
  bottom: 8%;
  right: 17%;
  max-width: 870px;
  width: 15%;
}
.Vector{
  position: absolute;
  top: 42%;
  left: 35%;
  z-index: -1;
  max-width: 870px;
  width: 35%;
}
.OK{
  position: absolute;
  bottom: 10%;
  left: 25%;
  max-width: 870px;
  width: 10%;
}
.focus-mobile{
  position: absolute;
}
.OK-mobile{
  position: absolute;
  bottom: 0;
  left: 25%;
}
.logo_mobile{
  position: absolute;
}
.tit_mobile{
  position: absolute;
}
@media (min-width: 480px) {
  .three_mo{
    display: none;
  }
  .OK-mobile, .focus-mobile{
    display: none;
  }
  .tit_mobile{
    display: none;
  }
  .logo_mobile{
    display: none;
  }
  .comments_mobile, .receipt_mobile{
    display: none;
  }
  .comments_mobile{
    display: none;
  }
  .points{
    display: none;
  }
  .per_mobile{
    display: none;
  }
  .logo-mobile{
    display: none;
  }
  .mobile1{
    display: none;
  }
  .increase1{
    display: none;
  }
  .mo_ver{
    display: none;
  }
}
@media (max-width: 480px) {
  .page1, .page2, .page4, .page11{
    height: 720px;
  }
  /*page2*/
  .focus{
    display: none;
  }
  .OK{
    display: none;
  }
  .han{
    display: none;
  }
  .OK-mobile{
    left: 10%;
    width: 80%;
    bottom: 2%;
  }
  .focus-mobile{
    width: 50%;
    top: 10%;
    right: 25%;
  }
  .hug{
    top: 67%;
    left: 5%;
    width: 55%;
  }
  .hug2{
    top: 77%;
    left: 47%;
    width: 47%;
  }
  .hug3{
    top: 32%;
    left: 45%;
    width: 50%;
  }
  .hug4{
    left: 8%;
    top: 22%;
    width: 57%;
  }
  .logo2{
    width: 15%;
    top: 1%;
  }
  .person{
    z-index: -1;
    left: 17.5%;
    bottom: 10%;
    width: 65%;
  }
  .Vector{
    z-index: -2;
    top: 37%;
    left: 2.5%;
    width: 95%;
  }
  /*page3*/
  .tit_mobile{
    top: 12%;
    width: 80%;
    left: 10%;
  }
  .logo_mobile{
    top: 3%;
    width: 15%;
    left: 3%;
  }
  .square{
    width: 30%;
  }
  .web{
    display: none;
  }
  .song_mobile{
    margin-top: 30%;
    width: 80%;
    margin-left: 10%;
  }
  .up_mobile1{
    position: absolute;
    width: 12%;
    top: 30%;
    left: 22%;
  }
  .down_mobile1{
    position: absolute;
    width: 12%;
    top: 30%;
    right: 26%;
  }
  .increase1{
    position: absolute;
    width: 15%;
    top: 23%;
    left: 29%;
  }
  .boo_mobile{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
  }
  .up_mobile2{
    position: absolute;
    width: 12%;
    top: 56%;
    left: 22%;
  }
  .down_mobile2{
    position: absolute;
    width: 12%;
    top: 54.5%;
    right: 26%;
  }
  .increase2{
    position: absolute;
    width: 15%;
    top: 47%;
    left: 29%;
  }
  .an_mobile{
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
  }
  .up_mobile3{
    position: absolute;
    width: 12%;
    top: 81%;
    left: 22%;
  }
  .down_mobile3{
    position: absolute;
    width: 12%;
    top: 79%;
    right: 26%;
  }
  .increase3{
    position: absolute;
    width: 15%;
    top: 74%;
    left: 29%;
  }

  /*page4*/
  .logo-mobile{
    width: 15%;
    top: 1%;
    left: 1%;
  }
  .receipt_mobile{
    position: absolute;
    top: 8%;
    left: 25%;
    width: 50%;
  }
  .point{
    display: none;
  }
  .points1{
    top: 22%;
    left: 2.5%;
  }
  .points2{
    top: 22%;
    right: 2.5%;
  }
  .points3{
    top: 36%;
    left: 2.5%;
  }
  .points4{
     top: 36%;
     right: 2.5%;
  }
  .points5{
    top: 50%;
    left: 2.5%;
  }
  .points6{
    top: 50%;
    right: 2.5%;
  }
  .points7{
    top: 64%;
    left: 2.5%;
  }
  .per_mobile{
    width: 50%;
    z-index: -1;
    bottom: 0;
    right: 1%;
  }
  .comments_mobile{
    bottom: 2%;
    width: 85%;
    left: 7.5%;
    z-index: 10;
  }
  /*page11*/
  .pc_ver{
    display: none;
  }
  .title11_mo{
    position: absolute;
    width: 50%;
    top: 10%;
    left: 25%;
  }
  .circle1_mo{
    position: absolute;
    width: 35%;
    top: 25%;
    left: 5%;
  }
  .circle2_mo{
    position: absolute;
    width: 35%;
    top: 48%;
    left: 5%;
  }
  .circle3_mo{
    position: absolute;
    width: 35%;
    top: 71%;
    left: 5%;
  }
  .circle4_mo{
    position: absolute;
    width: 35%;
    top: 25%;
    right: 5%;
  }
  .circle5_mo{
    position: absolute;
    width: 35%;
    top: 48%;
    right: 5%;
  }
  .per11_mo{
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 80%;
    z-index: -1;
  }
}

.page3{
  background: url("../img/pg3/pg3.png");
  background-size: cover !important;
  background-position: center center !important;
  padding: 30% 0;
  position: relative;
  margin: auto;
  z-index: -2;
}

.tit3 {
  position: absolute;
  top: 28%;
  left: 12%;
  width: 13%;
  z-index: 1;
}
.square {
  position: absolute;
  top: 30%;
  left: 3%;
  width: 30%;
  height: 53%;
}
.graph1 {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 13%;
}
.Sectors {
  position: absolute;
  top: 52%;
  left: 20%;
  width: 12%;
}
.up {
  position: absolute;
  top: 60%;
  left: 8%;
  width: 5%;

}.down {
   position: absolute;
   top: 62%;
   left: 24.5%;
   width: 3%;
 }

.tit3-2 {
  position: absolute;
  top: 28%;
  left: 44%;
  max-width: 870px;
  width: 13%;
  z-index: 1;
}
.square2 {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 30%;
  height: 53%;
}
.graph2 {
  position: absolute;
  top: 45%;
  left: 36.5%;
  width: 13%;
}
.Sectors2 {
  position: absolute;
  top: 52%;
  left: 52%;
  width: 12%;
}
.up2 {
  position: absolute;
  top: 61%;
  left: 39.7%;
  width: 5%;

}.down2 {
   position: absolute;
   top: 62%;
   left: 56.5%;
   width: 3%;
 }

.tit3-3 {
  position: absolute;
  top: 28%;
  left: 76%;
  max-width: 870px;
  width: 13%;
  z-index: 1;
}
.square3 {
  position: absolute;
  top: 30%;
  left: 67%;
  width: 30%;
  height: 53%;
}
.graph3 {
  position: absolute;
  top: 45%;
  left: 69%;
  width: 13%;
}
.Sectors3 {
  position: absolute;
  top: 52%;
  left: 84%;
  width: 12%;
}
.up3 {
  position: absolute;
  top: 64%;
  left: 72%;
  width: 5%;

}
.down3 {
   position: absolute;
   top: 62%;
   left: 88%;
   width: 3%;
 }





.page4{
  background: url("../img/pg4/pg4.png");
  background-size: cover !important;
  background-position: center center !important;
  padding: 30% 0;
  position: relative;
  margin: auto;
  z-index: -2;
}

.point1 {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 20%;
}
.point2 {
  position: absolute;
  top: 25%;
  left: 28%;
  width: 20%;
}
.point3 {
  position: absolute;
  top: 25%;
  left: 51%;
  width: 20%;
}
.point4 {
  position: absolute;
  top: 25%;
  left: 73%;
  width: 20%;
}
.point5 {
  position: absolute;
  top: 48%;
  left: 5%;
  width: 20%;
}
.point6 {
  position: absolute;
  top: 48%;
  left: 28%;
  width: 20%;
}
.point7 {
  position: absolute;
  top: 48%;
  left: 51%;
  width: 20%;
}
.per{
  position: absolute;
  bottom: 0.1%;
  right: 3%;
  width: 31%;
}
.logo-mobile{
  position: absolute;
}
.comments_mobile{
  position: absolute;
}
.receipt_mobile{
  position: absolute;
}
.points img{
  position: absolute;
  width: 45%;
}
.per_mobile{
  position: absolute;
  width: 58%;
  height: 40%;
}

.page11{
  background: url("../img/pg11/pg11.png");
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  padding: 30% 0;
  margin: auto;
  z-index: -2;
}

.title11{
  position: absolute;
  width: 37%;
  top: 13%;
  left: 12%;
}
.benefits1{
  position: absolute;
  max-width: 870px;
  width: 15%;
  right: 28%;
  top: 11%;
}
.benefits2{
  position: absolute;
  max-width: 870px;
  width: 15%;
  left: 18%;
  top: 24%;
}
.benefits3{
  position: absolute;
  max-width: 870px;
  width: 15%;
  left: 17%;
  top: 62%;
}
.benefits4{
  position: absolute;
  max-width: 870px;
  width: 15%;
  right: 13%;
  top: 29%;
}
.benefits5{
  position: absolute;
  max-width: 870px;
  width: 15%;
  right: 17%;
  top: 62%;
}
.per11 {
  position: absolute;
  max-width: 870px;
  width: 35%;
  height: 75%;
  bottom: 0;
  left: 33%;
}

.page12{
  background: url("../img/pg12/pg12.png");
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  padding: 30% 0;
  margin: auto;
  z-index: -2;
}
.title12{
  max-width: 870px;
  position: absolute;
  width: 15%;
  left: 42.5%;
  top: 18%;
}
.comments1{
  max-width: 870px;
  position: absolute;
  width: 2%;
  left: 10%;
  top: 30%;
}
.comments2{
  max-width: 870px;
  position: absolute;
  width: 2%;
  right: 10%;
  top: 50%;
}
.step1{
  max-width: 870px;
  position: absolute;
  width: 20%;
  left: 15%;
  top: 30%;
}
.step2{
  max-width: 870px;
  position: absolute;
  width: 20%;
  left: 40%;
  top: 30%;
}
.step3{
  max-width: 870px;
  position: absolute;
  width: 20%;
  right: 15%;
  top: 30%;
}
.step4{
  max-width: 870px;
  position: absolute;
  width: 20%;
  left: 15%;
  top: 65%;
}
.step5{
  max-width: 870px;
  position: absolute;
  width: 20%;
  left: 40%;
  top: 65%;
}
.step6{
   max-width: 870px;
   position: absolute;
   width: 20%;
   right: 15%;
   top: 65%;
 }
.next1{
  max-width: 870px;
  position: absolute;
  width: 5%;
  left: 35%;
  top: 40%;
}
.next2{
  max-width: 870px;
  position: absolute;
  width: 5%;
  right: 35%;
  top: 40%;
}
.next3{
  max-width: 870px;
  position: absolute;
  width: 5%;
  left: 35%;
  bottom: 15%;
}
.next4{
  max-width: 870px;
  position: absolute;
  width: 5%;
  right: 35%;
  bottom: 15%;
}
.over_next{
  max-width: 870px;
  position: absolute;
  width: 28%;
  left: 36%;
  bottom: 36%;
}

.page13 {
  background: url("../img/pg13/pg13.png");
  background-size: cover !important;
  background-position: center center !important;
  text-align: center;
  padding: 10% 0;
  position: relative;
}

.page13 .logo img{
  position: absolute;
  top: 3%;
  left: 2%;
  width: 5%;
  float: left;
  margin: 20px;
}
.title13{
  width: 20%;
}

.contact-info {
  text-align: center;
  margin-top: 50px;
}

.checkbox {
  display: inline-block;
  margin: 20px;
  transform: translateY(-50%);
}

.input-box {
  width: 150px;
  margin: 10px;
}
.box{
  max-width: 780px;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 900px;
  height: 50px;
}
.box a{
  color: #ffffff;
}
.round-checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #009944;
  cursor: pointer;
  position: absolute;
  left: 2%;
  top: 46%;
  transform: translateY(-50%);
}

.round-checkbox:checked {
  background-color: #009944; /* 배경을 투명하게 설정 */
}

/* 체크 표시 스타일 추가 */
.round-checkbox:checked::before {
  content: "\2713"; /* 체크 표시(유니코드 문자) */
  font-size: 16px; /* 체크 표시 크기 조절 */
  color: #ffffff; /* 체크 표시 색상 설정 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.agree{
  position: absolute;
  top: 50%;
  width: 30%;
  left: 8%;
  transform: translateY(-50%);
}
.see{
  top: 50%;
  right: 3%;
  width: 4%;
  position: absolute;
  transform: translateY(-50%);
}
.comments {
  margin-top: 20px;
}

.button {
  background-color: #0B2E19;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #003616;
  color: #369960;
  padding: 10px;
}