/*!* popup *!*/

.pc {
  display: block;
}
.mobile {
  display: none !important;
}

.layer-popup {
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 2px 3px 10px #555;
  border-radius: 10px;
  height: auto !important;
}
.layer-popup:nth-child(1) {
  left: 0;
}
.layer-popup img {
  width: 100%;
  height: auto !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.layer-popup .show-chk-wrap {
  display: flex;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: space-between;
}
.layer-popup .show-chk-wrap a {
  font-size: 16px;
  font-weight: 700;
}

#container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.text-center {
  text-align: center;
}

/*content*/
.content {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.page1{
  background: url("../img/pg1/pg1.png");
  background-size: cover !important;
  background-position: center center !important;
  text-align: center;
  padding: 13% 0;
  margin: auto;
}
.logo1 {
  position: absolute;
  top: 1%;
  left: 1%;
}
.tit1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 3%;
  left: 20%;
}

.container {
  position: relative;
}

.title1 {
  /* title1 이미지에 대한 스타일 */
  /* 원하는 스타일링을 여기에 추가하세요 */
}

.back-title {
  position: absolute;
  top: 18%; /* 원하는 위치로 조정 */
  left: 32.5%; /* 원하는 위치로 조정 */
  /* back-title 이미지에 대한 스타일 */
  /* 원하는 스타일링을 여기에 추가하세요 */
}

.three{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hall{
  margin-left: 50px;
}
.packing{
  margin-left: 50px;
}
.num1{
  margin-bottom: 0;
  left:10%;
}
.num2{
  margin-left: 50px;
}
.num3{
  margin-left: 50px;
}

.page1 .pc-img{
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.page1 .mo-img{
  width: 90%;
}
.page1 .flex{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 10% auto 0;
  gap:3%;
}
.page1 .flex .circle{
  width: 22%;
}
.page2{
  background: url("../img/page2-bg.png");
  background-size: cover !important;
  background-position: center center !important;
  text-align: center;
  padding: 9% 0;
}
.page2 .top{
  max-width: 658px;
  width: 80%;
  display: block;
  margin: 0 auto 40px;
}
.page2 .tit{
  max-width: 560px;
  width: 83%;
  display: block;
  margin: 0 auto 35px;
}
.page2 .txt{
  max-width: 715px;
  width: 88%;
  display: block;
  margin: 0 auto;
}
.page2 .receipt-wrap{
  display: flex;
  margin: 70px auto 60px;
  gap: 40px;
  max-width: 720px;
  width: 90%;
}
.page2 .receipt-wrap .receipt{
  width: calc(50% - 20px);
}
.page2 .bottom{
  max-width: 935px;
  width: 90%;
}
.page3{
  background: #352929;
  padding: 5% 0 8%;
}
.page3 .tit{
  max-width: 765px;
  width: 90%;
}
.page3 .flex{
  display: flex;
  max-width: 1290px;
  width: 90%;
  margin: 73px auto 0;
  gap: 30px;
  justify-content: center;
}
.page3 .flex .item{
  width: calc(25% - 15px);
}
.page4{
  background: url("../img/page4-bg.png");
  background-size: cover !important;
  background-position: center center !important;
  text-align: center;
  padding: 7% 0;
}
.page4 .tit{
  max-width: 787px;
  width: 85%;
  margin-bottom: 160px;
}
.page4 .slide-container{
  max-width: 1285px;
  margin: 0 auto;
  position: relative;
  width: 90%;
}
.page4 .slide-container:nth-child(2){
  margin: 0 auto 200px;
}
.page4 .slide-container .txt{
  position: absolute;
  top: -27%;
  left: 5%;
  width: 30%;
  max-width: 295px;
  z-index: 10000;
}
.page4 .slide-area{
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
  width: 80%;
}
.page4 .slide-container .swiper-wrapper img{
  width: 100%;
}
.page4 .slide-container .next,
.page4 .slide-container .prev{
  max-width: 80px;
  position: absolute;
  top: calc(50% - 40px);
  cursor: pointer;
}
.page4 .slide-container .next{
  right: 0%;
}
.page4 .slide-container .prev{
  left:0%;
}
.page5{
  background: url("../img/page5-bg.png");
  background-size: cover !important;
  background-position: center center !important;
  text-align: center;
  padding: 8% 0;
}
.page5 .tit{
  max-width: 677px;
  width: 85%;
}
.page5 .flex{
  max-width: 1290px;
  margin: 70px auto 0;
  display: flex;
  gap: 30px;
  width: 90%;
}
.page5 .flex .item{
  width: calc(25% - 15px);
}
.page6{
  background: url("../img/page6-bg.png");
  background-size: cover !important;
  background-position: center center !important;
  text-align: center;
  padding: 2% 0 0;
  overflow: hidden;
}
.page6 .tit{
  max-width: 900px;
  width: 85%;
  margin-bottom: 40px;
}
.page6 .row-wrap{
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
.page6 .mrow{
  display: flex;
  width: 100%;
  align-items: center;
  margin-right: auto;
}
.page6 .mrow.left {
  margin-right: 0;
  margin-left: auto;
  justify-content: flex-end;
  position: relative;
  left: 5%;
  bottom: 110px;
}
.page6 .mrow.last {
  position: relative;
  right: 5%;
  bottom: 260px;

}
.page6 .mrow .menu1{
  max-width: 775px;
  width: 60%;
}
.page6 .mrow .text1{
  max-width: 381px;
  width: 40%;
}
.page6 .mrow .menu2{
  max-width: 550px;
  width: 50%;
}
.page6 .mrow .text2{
  max-width: 381px;
  width: 50%;
  position: relative;
  left: 3%;
}
.page6 .mrow .menu3{
  max-width: 780px;
  width: 60%;
}
.page6 .mrow .text3{
  max-width: 365px;
  width: 40%;
}
.page7{
  background: url("../img/page7-bg.png");
  background-size: cover !important;
  background-position: center center !important;
  text-align: center;
  padding: 8% 0;
  overflow: hidden;
}
.page7 .tit{
  max-width: 460px;
  width: 65%;
}
.page7 .chart{
  display: block;
  max-width: 1140px;
  margin: 20px auto 0;
  width: 90%;
}

.page8{
  background: url("../img/page8-bg.png");
  background-size: cover !important;
  background-position: center center !important;
  text-align: center;
  padding: 8% 0;
  overflow: hidden;
}
.page8 .tit{
  max-width: 447px;
  width: 65%;
}
.page8 .step-box {
  width: 90%;
  margin: 65px auto 0;
  max-width: 1300px;
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
}
.page8 .mobile-box{
  width: 90%;
  margin: 40px auto 0;
}
.page8 .mobile-box .box-row{
  display: flex;
  gap: 12%;
  position: relative;
  margin-bottom: 25px;
}
.page8 .mobile-box .box-row .step-img{
  width: 44%;
}
.page8 .mobile-box .box-row .next{
  max-width: 50px;
  position: absolute;
  z-index: 10;
  top: 35%;
  left: 46.5%;
  width: 8%;
}
.page8 .step-box .step {
  position: relative;
  display: inline-block;
  width: calc(24% - 30px);
}

.page8 .step-box .step .step-img {
  max-width: 280px;
  width: 100%;
}
.page8 .step-box .step .next {
  max-width: 50px;
  position: absolute;
  z-index: 10;
  top: calc(50% - 25px);
  right: -50px;
}
.page9{
  background: url("../img/page9-bg.png");
  background-size: cover !important;
  background-position: center center !important;
  text-align: center;
  padding: 5% 0;
  overflow: hidden;
}
.page9 .tit{
  max-width: 447px;
  width: 65%;
}
.page9 .img{
  display: block;
  margin: 65px auto 0;
  max-width: 1000px;
  width: 90%;
}
.floating-num{
  position: fixed;
  right: 20px;
  bottom: 2%;
  max-width: 134px;
  width: 25%;
}
.floating-num img{
  width: 100%;
}
.contact-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
  max-width: 1300px;
}
.contact-container .contact-wrap {
  width: 50%;
}
#contact_form{
  background: #5A3C2A;
  text-align: center;
  padding-top: 5%;
}
#contact_form .tit{
  max-width: 305px;
  margin-bottom: 50px;
  width: 60%;
}
.contact-container .contact-wrap .input-item {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  align-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
}
.contact-container .contact-wrap .input-item:nth-last-child(1) {
  align-items: normal;
}
.contact-container .contact-wrap .input-item .label-wrap {
  width: 30%;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #E8D5B8;
}
.contact-container .contact-wrap .input-item:nth-last-child(1) .label-wrap {
  padding-top: 10px;
}
.contact-container .contact-wrap .input-item .sub {
  position: absolute;
  right: 3%;
  top: 8px;
  font-size: 20px;
  font-weight: 500;
}
.contact-container .contact-wrap .input-item .input-wrap {
  width: 70%;
}
.contact-container .contact-wrap .input-item .input-wrap input {
  border: 1px solid #a1a1a1;
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
}
.contact-container .contact-wrap .input-item .input-wrap input:focus {
  border: 2px solid #ed1c24 !important;
  outline: none !important;
}
.contact-container .contact-wrap .input-item .input-wrap textarea {
  border: 1px solid #a1a1a1;
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
  resize: none;
  height: 200px;
}
.contact-container .contact-wrap .input-item .input-wrap textarea:focus {
  border: 2px solid #ed1c24 !important;
  outline: none !important;
}
.contact-container .agreement-wrap {
  padding-left: 5%;
  width: 50%;
}
.contact-container .agreement-wrap .agreement {
  border: 1px solid #a1a1a1;
  text-align: left;
  padding: 20px 15px;
  color: #fff;
}
.contact-container .agreement-wrap .agreement .tit {
  text-align: left;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}
.contact-container .agreement-wrap .agreement .content {
  text-align: left;
  font-size: 14px;
  word-break: keep-all;
}
.contact-container .agreement-wrap .agree-wrap {
  padding: 15px 20px;
  font-size: 17px;
  font-weight: 500;
  border: 1px solid #a1a1a1;
  border-top: none;
  color: #fff;
}
.contact-container .agreement-wrap .agree-wrap input {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  color: red;
  vertical-align: text-bottom;
}
.contact-container .agreement-wrap input[type="submit"] {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  background: #E8D5B8;
  box-shadow: 4px 8px 24px 0px rgba(0, 0, 0, 0.25);
  font-weight: 900;
  font-size: 22px;
  border: none;
  margin-top: 10px;
  color: #5A3C2A;
  text-align: center;
}

.floating-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #008755;
  z-index: 1000;
}
.floating-wrap {
  display: flex;
  padding: 10px 10%;
  justify-content: space-between;
  align-items: center;
}
.floating-wrap .item {
  width: 50%;
  position: relative;
}
.floating-wrap .item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #fff;
  top: 0;
  right: -1px;
}
.floating-wrap .item-wrap {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}
.floating-wrap .item .icon-wrap {
  width: 30px;
}
.floating-wrap .item .icon-wrap i {
  font-size: 30px;
  color: #fff;
}
.floating-wrap .item .text-wrap {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  line-height: 25px;
  padding-left: 10px;
}

@media (max-width: 1024px) {
  .page4 .slide-container .next, .page4 .slide-container .prev {
    max-width: 60px;
  }
  .page5 .flex{
    flex-wrap: wrap;
    gap: 5%;
  }
  .page5 .flex .item{
    width: 47.5%;
  }
  .page5 .flex .item:nth-child(1),
  .page5 .flex .item:nth-child(2){
    margin-bottom: 5%;
  }
  .page6 .mrow.left{
    bottom: 70px;
  }
  .page6 .mrow.last {
    right: 2%;
    bottom: 190px;
  }
}
@media (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .nav-wrap .logo {
    max-width: 120px;
    width: 40%;
  }
  .pc-menu-wrap li a {
    font-size: 15px;
  }
  .layer-popup {
    max-width: 90%;
    top: 5%;
    left: 5%;
  }
  .page1{
    padding: 25% 0;
  }
  .page2 .receipt-wrap{
    display: flex;
    margin: 40px auto 30px;
    gap: 20px;
    max-width: 720px;
    width: 90%;
  }
  .page2 .receipt-wrap .receipt{
    width: calc(50% - 10px);
  }
  .page3 .flex{
    flex-wrap: wrap;
    gap: 8%;
    margin: 40px auto 0;
  }
  .page3 .flex .item{
    width: 46%;
  }
  .page3 .flex .item:nth-child(2),
  .page3 .flex .item:nth-child(4){
    margin-bottom: 8%;
  }
  .page4 .tit {
    margin-bottom: 80px;
  }
  .page4 .slide-container .next, .page4 .slide-container .prev {
    max-width: 40px;
    top: calc(50% - 20px);
  }
  .page4 .slide-container:nth-child(2) {
    margin: 0 auto 100px;
  }
  .page5 .flex{
    margin: 40px auto 0;
  }
  .page6 .mrow.left{
    bottom: 40px;
  }
  .page6 .mrow.last {
    right: 1%;
    bottom: 80px;
  }
  .page7{
    padding: 12% 0;
  }
  .page8{
    padding: 12% 0;
  }
  .page8 .step-box{
    display: none;
  }
  .page9{
    padding: 12% 0;
  }
  .page9 .img{
    margin: 40px auto 0;
  }
  #contact_form{
    padding-top: 10%;
  }

  .contact-container {
    display: block;
    padding-bottom: 60px;
  }
  .contact-container .contact-wrap {
    width: 100%;
  }
  .contact-container .contact-wrap .input-item .label-wrap {
    text-align: left;
  }
  .contact-container .agreement-wrap {
    padding-left: 0;
    width: 100%;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0px;
  }
  .floating-num{
    right: 0px;
    bottom: 0px;
  }
  .floating-wrap {
    padding: 10px 0%;
  }
  .floating-wrap .item .icon-wrap {
    width: 25px;
  }
  .floating-wrap .item .icon-wrap i {
    font-size: 25px;
    color: #fff;
  }
  .floating-wrap .item .text-wrap {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    line-height: 25px;
    padding-left: 10px;
  }
}

@media (max-width: 480px) {
  .pc-menu-wrap li a {
    font-size: 12px;
  }
  .page4 .slide-container:nth-child(2) {
    margin: 0 auto 80px;
  }
  .page4 .slide-container .prev {
    left: -3%;
  }
  .page4 .slide-container .next {
    right: -3%;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -3px;
  }

  .contact-container .contact-wrap .input-item .label-wrap {
    font-size: 17px;
  }
  .contact-container .contact-wrap .input-item .input-wrap input {
    font-size: 17px;
  }
  .contact-container .contact-wrap .input-item .sub {
    font-size: 17px;
  }

  .contact-wrap .input-wrap input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-bottom: 4px;
  }
  .floating-wrap .item .icon-wrap i {
    font-size: 20px;
  }
  .floating-wrap .item .text-wrap {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    line-height: 18px;
    padding-left: 5px;
  }
}